service cloud.firestore {
    match /databases/{database}/documents {
        match /items/{item} {
            allow read;
            allow write;
        }
        
        function isAdmin() {
            return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin
        }

        function userIs(uid) {
            return request.auth.uid == uid
        }
    }
}
